In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [46]:
# aapl_ticker = yf.Ticker("AAPL")

In [47]:
# aapl_his = aapl_ticker.history(period="max")

In [50]:
# aapl_his

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5000,2000-09-25 00:00:00-04:00,0.794591,0.836015,0.784236,0.805889,435551200,0.0,0.0
5001,2000-09-26 00:00:00-04:00,0.803065,0.824718,0.773880,0.774821,290936800,0.0,0.0
5002,2000-09-27 00:00:00-04:00,0.779528,0.794591,0.726806,0.737162,402259200,0.0,0.0
5003,2000-09-28 00:00:00-04:00,0.742811,0.810597,0.724923,0.805889,979585600,0.0,0.0
5004,2000-09-29 00:00:00-04:00,0.424598,0.436837,0.382232,0.387881,7421640800,0.0,0.0
...,...,...,...,...,...,...,...,...
11106,2025-01-03 00:00:00-05:00,243.360001,244.179993,241.889999,243.360001,40244100,0.0,0.0
11107,2025-01-06 00:00:00-05:00,244.309998,247.330002,243.199997,245.000000,45045600,0.0,0.0
11108,2025-01-07 00:00:00-05:00,242.979996,245.550003,241.350006,242.210007,40856000,0.0,0.0
11109,2025-01-08 00:00:00-05:00,241.919998,243.710007,240.050003,242.699997,37628900,0.0,0.0
11110,2025-01-10 00:00:00-05:00,240.009995,240.160004,233.000000,236.850006,61679400,0.0,0.0

In [ ]:
# aapl_max.to_csv("aapl.csv")

In [2]:
aapl = pd.read_csv("aapl.csv")

In [3]:
aapl

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12 00:00:00-05:00,0.098834,0.099264,0.098834,0.098834,469033600,0.0,0.0
1,1980-12-15 00:00:00-05:00,0.094108,0.094108,0.093678,0.093678,175884800,0.0,0.0
2,1980-12-16 00:00:00-05:00,0.087232,0.087232,0.086802,0.086802,105728000,0.0,0.0
3,1980-12-17 00:00:00-05:00,0.088951,0.089381,0.088951,0.088951,86441600,0.0,0.0
4,1980-12-18 00:00:00-05:00,0.091530,0.091959,0.091530,0.091530,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
11106,2025-01-03 00:00:00-05:00,243.360001,244.179993,241.889999,243.360001,40244100,0.0,0.0
11107,2025-01-06 00:00:00-05:00,244.309998,247.330002,243.199997,245.000000,45045600,0.0,0.0
11108,2025-01-07 00:00:00-05:00,242.979996,245.550003,241.350006,242.210007,40856000,0.0,0.0
11109,2025-01-08 00:00:00-05:00,241.919998,243.710007,240.050003,242.699997,37628900,0.0,0.0
11110,2025-01-10 00:00:00-05:00,240.009995,240.160004,233.000000,236.850006,61679400,0.0,0.0

In [83]:
aapl['Date'] = pd.to_datetime(aapl['Date'], utc=True)

In [7]:
aapl['CumMax'] = aapl['Close'].cummax()

In [19]:
aapl['DrawDown'] = 1 - aapl['CumMax']/ aapl['Close']

In [25]:
aapl[aapl.DrawDown == aapl.DrawDown.min()]['CumMax']

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,CumMax,DrawDown
5641,2003-04-17 00:00:00-04:00,0.198836,0.199589,0.191606,0.197631,616257600,0.0,0.0,1.085973,-4.494942

In [34]:
aapl[aapl.DrawDown == aapl.DrawDown.min()]['CumMax'].values[0]

np.float64(1.085972785949707)

In [35]:
aapl[aapl.CumMax == aapl[aapl.DrawDown == aapl.DrawDown.min()]['CumMax'].values[0]]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,CumMax,DrawDown
4871,2000-03-22 00:00:00-05:00,1.000065,1.087386,0.990886,1.085973,567996800,0.0,0.0,1.085973,0.000000
4872,2000-03-23 00:00:00-05:00,1.069497,1.132575,1.054434,1.064319,562564800,0.0,0.0,1.085973,-0.020345
4873,2000-03-24 00:00:00-05:00,1.072792,1.084090,1.020541,1.044548,446913600,0.0,0.0,1.085973,-0.039658
4874,2000-03-27 00:00:00-05:00,1.036547,1.090210,1.030897,1.051139,279182400,0.0,0.0,1.085973,-0.033139
4875,2000-03-28 00:00:00-05:00,1.033721,1.069497,1.032780,1.047844,202966400,0.0,0.0,1.085973,-0.036388
...,...,...,...,...,...,...,...,...,...,...
6083,2005-01-19 00:00:00-05:00,1.061815,1.076426,1.050668,1.052626,751895200,0.0,0.0,1.085973,-0.031680
6084,2005-01-20 00:00:00-05:00,1.049162,1.073565,1.046451,1.061363,914922400,0.0,0.0,1.085973,-0.023187
6085,2005-01-21 00:00:00-05:00,1.074167,1.078535,1.054434,1.061815,911332800,0.0,0.0,1.085973,-0.022751
6086,2005-01-24 00:00:00-05:00,1.069197,1.081247,1.062719,1.065882,841629600,0.0,0.0,1.085973,-0.018849
6087,2005-01-25 00:00:00-05:00,1.075070,1.097213,1.068594,1.085314,969231200,0.0,0.0,1.085973,-0.000607

In [139]:
aapl[aapl['CumMax'] >= 100].sort_values('DrawDown')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,CumMax,DrawDown
10605,2023-01-05 05:00:00+00:00,125.807030,126.440369,123.461698,123.718987,80962700,0.0,0.0,179.076584,-0.447446
10603,2023-01-03 05:00:00+00:00,128.924237,129.537780,122.877820,123.768456,112117500,0.0,0.0,179.076584,-0.446868
10600,2022-12-28 05:00:00+00:00,128.320585,129.666432,124.560134,124.728363,85438400,0.0,0.0,179.076584,-0.435733
10604,2023-01-04 05:00:00+00:00,125.569527,127.321112,123.778365,125.045044,89113600,0.0,0.0,179.076584,-0.432097
10601,2022-12-29 05:00:00+00:00,126.658086,129.122172,126.400797,128.261230,75703700,0.0,0.0,179.076584,-0.396186
...,...,...,...,...,...,...,...,...,...,...
10006,2020-08-19 04:00:00+00:00,113.218751,114.370633,112.855129,112.950302,145538000,0.0,0.0,112.950302,0.000000
10007,2020-08-20 04:00:00+00:00,112.991771,115.571304,112.974686,115.456604,126907200,0.0,0.0,115.456604,0.000000
10008,2020-08-21 04:00:00+00:00,116.420566,121.892007,116.408367,121.406364,338054800,0.0,0.0,121.406364,0.000000
10009,2020-08-24 04:00:00+00:00,125.630759,125.716182,120.984190,122.858437,345937600,0.0,0.0,122.858437,0.000000
10011,2020-08-26 04:00:00+00:00,123.173239,123.966377,122.101888,123.507576,163022400,0.0,0.0,123.507576,0.000000

In [140]:
aapl[aapl['CumMax'] >= 150].sort_values('DrawDown')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,CumMax,DrawDown
10605,2023-01-05 05:00:00+00:00,125.807030,126.440369,123.461698,123.718987,80962700,0.0,0.0,179.076584,-0.447446
10603,2023-01-03 05:00:00+00:00,128.924237,129.537780,122.877820,123.768456,112117500,0.0,0.0,179.076584,-0.446868
10600,2022-12-28 05:00:00+00:00,128.320585,129.666432,124.560134,124.728363,85438400,0.0,0.0,179.076584,-0.435733
10604,2023-01-04 05:00:00+00:00,125.569527,127.321112,123.778365,125.045044,89113600,0.0,0.0,179.076584,-0.432097
10601,2022-12-29 05:00:00+00:00,126.658086,129.122172,126.400797,128.261230,75703700,0.0,0.0,179.076584,-0.396186
...,...,...,...,...,...,...,...,...,...,...
10268,2021-09-02 04:00:00+00:00,151.169494,152.004582,149.725292,150.953354,71115500,0.0,0.0,150.953354,0.000000
11098,2024-12-20 05:00:00+00:00,248.039993,255.000000,245.690002,254.490005,147495300,0.0,0.0,254.490005,0.000000
10713,2023-06-12 04:00:00+00:00,179.906001,182.506282,179.608256,182.407028,54274900,0.0,0.0,182.407028,0.000000
10270,2021-09-07 04:00:00+00:00,152.250158,154.499960,151.680336,153.939972,82278300,0.0,0.0,153.939972,0.000000
10265,2021-08-30 04:00:00+00:00,146.384961,150.796164,146.001806,150.432648,90956700,0.0,0.0,150.432648,0.000000

In [141]:
aapl[aapl['CumMax'] >= 200].sort_values('DrawDown')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,CumMax,DrawDown
11002,2024-08-06 04:00:00+00:00,204.837281,209.516713,200.616820,206.762924,69660500,0.0,0.0,234.290756,-0.133137
11001,2024-08-05 04:00:00+00:00,198.641276,213.018802,195.558244,208.798340,119548600,0.0,0.0,234.290756,-0.122091
11003,2024-08-07 04:00:00+00:00,206.433675,213.158489,205.924830,209.347107,63516400,0.0,0.0,234.290756,-0.119150
11004,2024-08-08 04:00:00+00:00,212.629677,213.717217,208.359325,212.829224,47161100,0.0,0.0,234.290756,-0.100839
11110,2025-01-10 05:00:00+00:00,240.009995,240.160004,233.000000,236.850006,61679400,0.0,0.0,259.019989,-0.093603
...,...,...,...,...,...,...,...,...,...,...
11094,2024-12-16 05:00:00+00:00,247.990005,251.380005,247.649994,251.039993,51694800,0.0,0.0,251.039993,0.000000
11095,2024-12-17 05:00:00+00:00,250.080002,253.830002,249.779999,253.479996,51356400,0.0,0.0,253.479996,0.000000
11101,2024-12-26 05:00:00+00:00,258.190002,260.100006,257.630005,259.019989,27237100,0.0,0.0,259.019989,0.000000
11100,2024-12-24 05:00:00+00:00,255.490005,258.209991,255.289993,258.200012,23234700,0.0,0.0,258.200012,0.000000
11092,2024-12-12 05:00:00+00:00,246.889999,248.740005,245.679993,247.960007,32777500,0.0,0.0,247.960007,0.000000

In [85]:
gp_cummax = aapl[['Date','CumMax']].groupby('CumMax')

In [95]:
day_recover = gp_cummax.min().join(gp_cummax.max(), lsuffix="_min", rsuffix="_max")

In [96]:
day_recover['recover'] = day_recover['Date_max'] - day_recover['Date_min']

In [97]:
day_recover[day_recover['recover'] == day_recover['recover'].max()]

,Date_min,Date_max,recover
CumMax,,,
0.519393,1991-04-02 05:00:00+00:00,1999-09-01 04:00:00+00:00,3073 days 23:00:00

In [136]:
day_recover[day_recover.index >= 100].sort_values('recover')

,Date_min,Date_max,recover
CumMax,,,
103.541252,2020-07-31 04:00:00+00:00,2020-07-31 04:00:00+00:00,0 days 00:00:00
234.741730,2024-10-18 04:00:00+00:00,2024-10-18 04:00:00+00:00,0 days 00:00:00
155.325638,2021-11-18 05:00:00+00:00,2021-11-18 05:00:00+00:00,0 days 00:00:00
157.962448,2021-11-19 05:00:00+00:00,2021-11-19 05:00:00+00:00,0 days 00:00:00
158.424896,2021-11-22 05:00:00+00:00,2021-11-22 05:00:00+00:00,0 days 00:00:00
...,...,...,...
130.982620,2020-09-01 04:00:00+00:00,2020-12-24 05:00:00+00:00,114 days 01:00:00
194.971771,2023-07-31 04:00:00+00:00,2023-12-12 05:00:00+00:00,134 days 01:00:00
139.989685,2021-01-26 05:00:00+00:00,2021-07-06 04:00:00+00:00,160 days 23:00:00
197.144180,2023-12-14 05:00:00+00:00,2024-06-10 04:00:00+00:00,178 days 23:00:00
179.076584,2022-01-03 05:00:00+00:00,2023-06-01 04:00:00+00:00,513 days 23:00:00

In [137]:
day_recover[day_recover.index >= 150].sort_values('recover')

,Date_min,Date_max,recover
CumMax,,,
196.994934,2023-12-13 05:00:00+00:00,2023-12-13 05:00:00+00:00,0 days 00:00:00
186.644913,2023-06-27 04:00:00+00:00,2023-06-27 04:00:00+00:00,0 days 00:00:00
187.825958,2023-06-28 04:00:00+00:00,2023-06-28 04:00:00+00:00,0 days 00:00:00
188.163406,2023-06-29 04:00:00+00:00,2023-06-29 04:00:00+00:00,0 days 00:00:00
243.009995,2024-12-04 05:00:00+00:00,2024-12-04 05:00:00+00:00,0 days 00:00:00
...,...,...,...
153.939972,2021-09-07 04:00:00+00:00,2021-11-17 05:00:00+00:00,71 days 01:00:00
234.290756,2024-07-16 04:00:00+00:00,2024-10-17 04:00:00+00:00,93 days 00:00:00
194.971771,2023-07-31 04:00:00+00:00,2023-12-12 05:00:00+00:00,134 days 01:00:00
197.144180,2023-12-14 05:00:00+00:00,2024-06-10 04:00:00+00:00,178 days 23:00:00
179.076584,2022-01-03 05:00:00+00:00,2023-06-01 04:00:00+00:00,513 days 23:00:00

In [144]:
day_recover[day_recover.index >= 200].sort_values('recover')

,Date_min,Date_max,recover
CumMax,,,
206.683105,2024-06-11 04:00:00+00:00,2024-06-11 04:00:00+00:00,0 days 00:00:00
251.039993,2024-12-16 05:00:00+00:00,2024-12-16 05:00:00+00:00,0 days 00:00:00
248.130005,2024-12-13 05:00:00+00:00,2024-12-13 05:00:00+00:00,0 days 00:00:00
247.960007,2024-12-12 05:00:00+00:00,2024-12-12 05:00:00+00:00,0 days 00:00:00
246.750000,2024-12-09 05:00:00+00:00,2024-12-09 05:00:00+00:00,0 days 00:00:00
243.009995,2024-12-04 05:00:00+00:00,2024-12-04 05:00:00+00:00,0 days 00:00:00
242.649994,2024-12-03 05:00:00+00:00,2024-12-03 05:00:00+00:00,0 days 00:00:00
239.589996,2024-12-02 05:00:00+00:00,2024-12-02 05:00:00+00:00,0 days 00:00:00
237.330002,2024-11-29 05:00:00+00:00,2024-11-29 05:00:00+00:00,0 days 00:00:00
258.200012,2024-12-24 05:00:00+00:00,2024-12-24 05:00:00+00:00,0 days 00:00:00
255.270004,2024-12-23 05:00:00+00:00,2024-12-23 05:00:00+00:00,0 days 00:00:00
234.741730,2024-10-18 04:00:00+00:00,2024-10-18 04:00:00+00:00,0 days 00:00:00
228.164581,2024-07-09 04:00:00+00:00,2024-07-09 04:00:00+00:00,0 days 00:00:00
227.306534,2024-07-08 04:00:00+00:00,2024-07-08 04:00:00+00:00,0 days 00:00:00
225.829849,2024-07-05 04:00:00+00:00,2024-07-05 04:00:00+00:00,0 days 00:00:00
221.050659,2024-07-03 04:00:00+00:00,2024-07-03 04:00:00+00:00,0 days 00:00:00
219.773544,2024-07-02 04:00:00+00:00,2024-07-02 04:00:00+00:00,0 days 00:00:00
216.261475,2024-07-01 04:00:00+00:00,2024-07-01 04:00:00+00:00,0 days 00:00:00
212.589783,2024-06-12 04:00:00+00:00,2024-06-12 04:00:00+00:00,0 days 00:00:00
233.871689,2024-07-15 04:00:00+00:00,2024-07-15 04:00:00+00:00,0 days 00:00:00
254.490005,2024-12-20 05:00:00+00:00,2024-12-20 05:00:00+00:00,0 days 00:00:00
243.039993,2024-12-05 05:00:00+00:00,2024-12-06 05:00:00+00:00,1 days 00:00:00
247.770004,2024-12-10 05:00:00+00:00,2024-12-11 05:00:00+00:00,1 days 00:00:00
213.757141,2024-06-13 04:00:00+00:00,2024-06-14 04:00:00+00:00,1 days 00:00:00
232.454880,2024-07-10 04:00:00+00:00,2024-07-12 04:00:00+00:00,2 days 00:00:00
253.479996,2024-12-17 05:00:00+00:00,2024-12-19 05:00:00+00:00,2 days 00:00:00
216.181656,2024-06-17 04:00:00+00:00,2024-06-28 04:00:00+00:00,11 days 00:00:00
259.019989,2024-12-26 05:00:00+00:00,2025-01-10 05:00:00+00:00,15 days 00:00:00
236.220108,2024-10-21 04:00:00+00:00,2024-11-27 05:00:00+00:00,37 days 01:00:00
234.290756,2024-07-16 04:00:00+00:00,2024-10-17 04:00:00+00:00,93 days 00:00:00